<section class="section callback">
  <div class="container">
    <img
      src="./images/callback/rectangle-callback.jpg"
      alt="request callback"
      width="680"
      height="460"
    />
    <form class="form-callback">
      <h2 class="callback-title">Request Callback</h2>
      <div class="callback-file">
        <input
          type="text"
          id="name-client"
          class="callback-input"
          name="name"
          placeholder=" "
          required
        />
        <label for="name-client" class="callback-label">Enter your name </label>
      </div>

      <div class="callback-file">
        <input
          type="email"
          id="email-client"
          class="callback-input"
          name="email"
          placeholder=" "
          required
        />
        <label for="email-client" class="callback-label">Enter email* </label>
      </div>

      <button type="submit" class="callback-btn">Send</button>
    </form>
  </div>
</section>
