<section class="section cases" id="cases">
  <div class="container">
    <h2 class="cases-title">This is what we do</h2>
    <h3 class="cases-subtitle">Business Cases</h3>
    <p class="cases-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases-list gallery">
      <li class="cases-items">
        <a class="cases-link" href="./images/business-cases/Rectangle-big.jpg">
          <div class="overlay">
            <img
              src="./images/business-cases/Rectangle1.jpg"
              alt="acquaintance"
              width="320"
              height="214"
            />
          </div>
        </a>
      </li>
      <li class="cases-items">
        <a class="cases-link" href="./images/business-cases/Rectangle2.jpg">
          <img
            src="./images/business-cases/Rectangle2.jpg"
            alt="statistics"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="cases-items">
        <a class="cases-link" href="./images/business-cases/Rectangle3.jpg">
          <img
            src="./images/business-cases/Rectangle3.jpg"
            alt="conclusion-of-the-contract"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="cases-items">
        <a class="cases-link" href="./images/business-cases/Rectangle4.jpg">
          <img
            src="./images/business-cases/Rectangle4.jpg"
            alt="Teamwork"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="cases-items">
        <a class="cases-link" href="./images/business-cases/Rectangle5.jpg">
          <img
            src="./images/business-cases/Rectangle5.jpg"
            alt="personal-work"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="cases-items">
        <a class="cases-link" href="./images/business-cases/Rectangle6.jpg">
          <img
            src="./images/business-cases/Rectangle6.jpg"
            alt="perspectives"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="cases-items">
        <a class="cases-link" href="./images/business-cases/Rectangle7.jpg">
          <img
            src="./images/business-cases/Rectangle7.jpg"
            alt="coffee-break"
            width="320"
            height="214"
          />
        </a>
      </li>
      <li class="cases-items">
        <a class="cases-link" href="./images/business-cases/Rectangle8.jpg">
          <img
            src="./images/business-cases/Rectangle8.jpg"
            alt="friendly-atmosphere"
            width="320"
            height="214"
          />
        </a>
      </li>
    </ul>

    <div class="multiple-items">
      <div><h3>1</h3></div>
      <div><h3>2</h3></div>
      <div><h3>3</h3></div>
      <div><h3>4</h3></div>
      <div><h3>5</h3></div>
      <div><h3>6</h3></div>
    </div>
  </div>
</section>
