<section class="section team">
  <div class="container">
    <h2 class="title-small">Who we are</h2>
    <h3 class="title-bigger">Our Professional Team</h3>
    <p class="description-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team__list list">
      <li class="team__item">
        <div class="team__photo-thumb">
          <picture>
            <source
              srcset="
                ./images/team/team-1-tel@1x.jpg 1x,
                ./images/team/team-1-tel@2x.jpg 2x,
                ./images/team/team-1-tel@3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/team/team-1-tab@1x.jpg 1x,
                ./images/team/team-1-tab@2x.jpg 2x,
                ./images/team/team-1-tab@3x.jpg 3x
              "
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/team/team-1-deck@1x.jpg 1x,
                ./images/team/team-1-deck@2x.jpg 2x,
                ./images/team/team-1-deck@3x.jpg 3x
              "
              media="(min-width: 1360px)"
            />
            <img src="./images/team/team-1-deck@1x.jpg" alt="Teammate" />
          </picture>
          <div class="team__links--hover">
            <ul class="team__background list">
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="teammate-thumb">
          <h4 class="teammate-name">John Doe</h4>
          <p class="teammate-prof">President</p>
        </div>
      </li>

      <li class="team__item">
        <div class="team__photo-thumb">
          <picture>
            <source
              srcset="
                ./images/team/team-2-tel@1x.jpg 1x,
                ./images/team/team-2-tel@2x.jpg 2x,
                ./images/team/team-2-tel@3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/team/team-2-tab@1x.jpg 1x,
                ./images/team/team-2-tab@2x.jpg 2x,
                ./images/team/team-2-tab@3x.jpg 3x
              "
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/team/team-2-deck@1x.jpg 1x,
                ./images/team/team-2-deck@2x.jpg 2x,
                ./images/team/team-2-deck@3x.jpg 3x
              "
              media="(min-width: 1360px)"
            />
            <img src="./images/team/team-1-deck@1x.jpg" alt="Teammate" />
          </picture>
          <div class="team__links--hover">
            <ul class="team__background list">
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teammate-thumb">
          <h4 class="teammate-name">Jane Doe</h4>
          <p class="teammate-prof">Vice President</p>
        </div>
      </li>

      <li class="team__item">
        <div class="team__photo-thumb">
          <picture>
            <source
              srcset="
                ./images/team/team-3-tel@1x.jpg 1x,
                ./images/team/team-3-tel@2x.jpg 2x,
                ./images/team/team-3-tel@3x.jpg 3x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/team/team-3-tab@1x.jpg 1x,
                ./images/team/team-3-tab@2x.jpg 2x,
                ./images/team/team-3-tab@3x.jpg 3x
              "
              media="(max-width: 1359px)"
            />
            <source
              srcset="
                ./images/team/team-3-deck@1x.jpg 1x,
                ./images/team/team-3-deck@2x.jpg 2x,
                ./images/team/team-3-deck@3x.jpg 3x
              "
              media="(min-width: 1360px)"
            />
            <img src="./images/team/team-1-deck@1x.jpg" alt="Teammate" />
          </picture>
          <div class="team__links--hover">
            <ul class="team__background list">
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-youtube"></use>
                  </svg>
                </a>
              </li>
              <li class="team__social-item">
                <a class="team__social-link" href="">
                  <svg class="team__icon">
                    <use href=".\images\sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teammate-thumb">
          <h4 class="teammate-name">Steve Smith</h4>
          <p class="teammate-prof">Marketing Head</p>
        </div>
      </li>
    </ul>
  </div>
</section>
